@font-face {
    font-family: "futura";
    src: url("/assets/Fonts/De-Futura.ttf");
}

html { 

    height: 5000px;
}

body {
    font-family: 'Futura-Normal', arial;
    
}

header { 

    background-color: #1B212D;
    padding: 4em;
}

/* ------------------NAVBAR--------------------- */

/* PROPRIETES DE LA NAVBAR */
.navbar { 
    background-color: #1B212D;
}


/* LOGO  */
.navbar-brand {
    color:  #F9D6AE;
    font-size: medium;
}

/* COULEUR DES LIENS  */
.nav-link { 
    color: white;
    font-size: medium
    
}

/* POSITION CENTRER DES LIENS DANS LA NAVBAR */
.centered {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        font-family: 'Futura-Normal', arial;

}

/* COULEUR DU BACKGROUND DES SOUS MENUS DES LIENS */
.dropdown-menu {
    background-color: #1B212D;
}

/* COULEUR DES LIENS SOUS MENUS DES LIENS DE LA NAVBAR */
.dropdown-item {
    color: white;
}

/* BOUTON FAVORIS */
.fa-heart {
    color: #F14B2A; 
}

/* BOUTON PANIER */
.fa-shopping-cart {
    color: #F14B2A; 
}

/* GARDER LA MEME COULEUR DU COULEUR LORS DU SURVOL */
.logo a:hover {
    color:  #F9D6AE;
}

/* CHANGEMENT DE COULEUR AU SURVOL SUR LES LIENS */
.dropdown a:hover { 
    color:#F14B2A; background:none; 
}

/* EFFET FONDU SUR LES LIENS */
a {
    -o-transition:color .2s ease-out, background 1s ease-in;
    -ms-transition:color .2s ease-out, background 1s ease-in;
    -moz-transition:color .2s ease-out, background 1s ease-in;
    -webkit-transition:color .2s ease-out, background 1s ease-in;
    transition:color .2s ease-out, background 1s ease-in;
}

 /* ------------------ FIN NAVBAR--------------------- */

/* Border Radius sue les Images */
.img {
    border-radius: 5px;
}

/* Icone Menu Burger */
.fa-bars {
    color: #F14B2A;
    font-size: 25px;
}